

<h2>Add new content here</h2>
<app-create-content (contentAdded)="onContentAdded($event)"></app-create-content>


<h3>Search</h3>
<input type="text" [(ngModel)]="searchTitle" placeholder="Enter type here...">
 <button (click)="searchCard()">Submit</button>
 <p [style.color]="searchClr">{{searchMsg}}</p>



<div *ngFor="let content of contentArray; let first = first" class="content-card-container" [ngClass]="{'first': first}" >
    <app-content-card [content]="content"></app-content-card>
    
</div>  


 


<!-- <div id="notype">
 <h1>Content with No type</h1>
 <app-content-card *ngFor="let item of (contentArray | typeFilter: ' ')"  [content]="item" style></app-content-card>
</div>

<div id="survival">
 <h1>Content with Survival</h1>
 <app-content-card *ngFor="let item of (contentArray | typeFilter: 'Survival')"  [content]="item"></app-content-card>
</div>


<div id="action">
 <h1>Content with Action Games</h1>
 <app-content-card *ngFor="let item of (contentArray | typeFilter: 'Action')"  [content]="item"></app-content-card>
</div>

<div id="story">

 <h1>Content with Story Mode</h1>
 <app-content-card *ngFor="let item of (contentArray | typeFilter: 'Story-Mode')"  [content]="item"></app-content-card>

</div> -->