<div class="content-card">
   
    <h3 style="text-align: center;">{{content.title}}</h3>
    <img *ngIf="content.imgURL; else defaultImg" src="{{content.imgURL}}" alt="{{content.title}}" class="imgs" (click)="onCardClick(content)">
    <ng-template #defaultImg>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFJPP7ssWF_dZSV_yMdetUl5XJX1UV1w-mJg&usqp=CAU" alt="Default Image" class="imgs" (click)="onCardClick(content)">
      </ng-template>
    <p><strong>Description: </strong>{{content.description}}</p>
    <p><strong>Creator: </strong>{{content.creator}}</p>
    <p appHoverAffect [hoverStyle]="'textDecoration'"><strong>Type: </strong> {{content.type}}</p>
    <strong>Tags:</strong>
    <ul appHoverAffect [hoverStyle]="'fontWeight'" *ngFor="let tag of content.tags">
        <li>{{tag}}</li>
    </ul>
</div>