.content-card{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5%;
    width: 70%;
    padding: 5%;
    margin: 2%;
    background-color: rgb(0, 0, 0);
    color:white
}
.imgs{
    // padding: 5%;
    height: 80%;
    width: 50%;
    border: 5px solid rgb(0, 26, 255);

}